@import "./variables";

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

.intro {
    &__form-arrivalinp {
        margin-bottom: 30px;
        @include date;
    }
    &__form-arrivallbl {
        @include label;
        display: block;
        margin-bottom: 23px;
    }
    &__form-departureinp {
        margin-bottom: 42px;
        @include date;
        display: inline;
        margin-right: 15%;
    }
    &__form-departurelbl {
        @include label;
        display: block;
        margin-bottom: 23px;
    }
    &__form {
        background: #222;
        height: 354px;
        padding: 36px 20px;
    }
    &__info {
        padding-top: 145px;
        background: #333;
        padding: 145px 5.3% 0 5.3%;
    }
    &__info-maintitle {
        @include h1title;
        max-width: 314px;
        margin-bottom: 40px;
    }
    &__info-pretitle {
        @include h6title;
        max-width: 237px;
        margin-bottom: 40px;
    }
    &__info-takebtn {
        @include button;
        display: inline;
        margin-bottom: 24px;
        margin-right: 30px;
    }
    &__info-learnbtn {
        @include button($theme: transparent);
        border: 2px solid rgba(255, 255, 255, 0.33);
        margin-bottom: 76px;
    }
    &__form-btn {
        @include button;
    }
}

@media only screen and (min-width: 1000px) {
    .intro {
        &__info {
            padding-top: 145px;
            background: #333;
            padding: 145px 19.2% 0 19.2%;
        }
        &__info-maintitle {
            @include h1titleweb;
            max-width: 661px;
            margin-bottom: 32px;
        }
        &__form {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            align-items: end;
            justify-items: start;
            background: #222;
            height: auto;
            padding: 36px 20px;
            text-align: center;
        }
        &__form-arrivalinp {
            grid-column: 1;
            grid-row: 2;
            margin-bottom: 0;
            @include date;
            justify-self: end;
            margin-right: 30px;
        }
        &__form-arrivallbl {
            @include label;
            display: block;
            margin-bottom: 0;
            grid-column: 1;
            grid-row: 1;
            justify-self: end;
            text-align: start;
            width:300px;
            margin-right: 30px;
        }
        &__form-departureinp {
            grid-column: 2;
            grid-row: 2;
            margin-bottom: 0;
            @include date;
            display: block;
        }
        &__form-departurelbl {
            grid-column: 2;
            grid-row: 1;
            @include label;
            display: block;
            margin-bottom: 0;
        }
        &__form-btn {
            grid-column: 3;
            grid-row: 1 / span 2;
            @include button;
        }
    }
}