.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.29);
  background-color: #fff;
  position: fixed;
  gap: 32px;
}
.header__logo {
  display: flex;
  gap: 0.845rem;
  align-items: center;
  position: relative;
}
.header__logo-img {
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.25);
  width: 36px;
}
.header__logo-name {
  font-family: Archivo;
  letter-spacing: 2.6px;
  font-size: 0.781rem;
}
.header__logo-name-hotel {
  font-weight: 700;
}
.header__logo-name-miranda {
  font-weight: 400;
}
.header__menucontent {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 198px;
  top: 70px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.29);
  background-color: #fff;
  z-index: 0;
  font-family: Archivo;
  font-weight: 600;
  padding-left: 21px;
}
.header__menucontent--hidden {
  display: none;
}
.header__menucontent-about {
  color: #111;
  text-decoration: none;
}
.header__menucontent-contact {
  color: #111;
  text-decoration: none;
}
.header__menucontent-offers {
  color: #111;
  text-decoration: none;
}
.header__menucontent-rooms {
  color: #111;
  text-decoration: none;
}
.header__menuiconburguer {
  padding-left: 20px;
}
.header__menuiconburguer--closed {
  display: none;
}
.header__menuiconcross {
  padding-left: 20px;
}
.header__menuiconcross--closed {
  display: none;
}
.header__icons {
  display: flex;
  padding-right: 20px;
  gap: 20px;
}
.header__icons-profile {
  cursor: pointer;
}
.header__icons-search {
  cursor: pointer;
}
.header__icons-menu {
  display: none;
  cursor: pointer;
}

@media only screen and (min-width: 1000px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 13%;
    width: 74%;
    top: 2.5rem;
    max-width: 1420px;
    height: 120px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.29);
    background-color: #fff;
    position: absolute;
    gap: 0;
  }
  .header--hidden {
    top: -8.75rem;
  }
  .header--float {
    position: fixed;
    top: 2.5rem;
    z-index: 100;
  }
  .header__logo {
    display: flex;
    gap: 1.757rem;
    align-items: center;
    padding-left: 20px;
  }
  .header__logo-img {
    box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.25);
    width: 80px;
  }
  .header__logo-name {
    font-family: Archivo;
    letter-spacing: 2.6px;
  }
  .header__logo-name-hotel {
    font-weight: 700;
  }
  .header__logo-name-miranda {
    font-weight: 400;
  }
  .header__menucontent {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: auto;
    height: auto;
    top: 0;
    box-shadow: none;
    background-color: transparent;
    z-index: 0;
    font-family: Archivo;
    font-weight: 600;
    padding-left: 0px;
    width: 100%;
  }
  .header__menucontent-contact {
    color: #111;
    text-decoration: none;
  }
  .header__menuiconburguer {
    display: none;
  }
  .header__menuiconcross {
    margin-right: 4px;
  }
  .header__menuiconcross--closed {
    display: none;
  }
  .header__icons {
    display: flex;
    gap: 12px;
    padding-right: 20px;
  }
  .header__icons-profile {
    border: 2px solid rgba(133, 133, 133, 0.3);
    padding: 1.125rem;
    margin-right: 0%;
  }
  .header__icons-search {
    border: 2px solid rgba(133, 133, 133, 0.3);
    padding: 1.125rem;
  }
  .header__icons-menu {
    display: block;
    border: 2px solid rgba(133, 133, 133, 0.3);
    padding: 1.125rem;
  }
}
@media only screen and (min-width: 1200px) {
  .header__logo-name {
    font-size: 1.625rem;
  }
  .header__menucontent {
    margin-left: 6.5%;
    justify-content: flex-start;
    gap: 24px;
  }
}
.fade {
  animation: fade 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes fade {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.focus {
  animation: focus 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes focus {
  0% {
    letter-spacing: -0.5em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
input[type=date]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.intro {
  margin-bottom: 60px;
}
.intro__form-arrivalinp {
  margin-bottom: 30px;
  width: 100%;
  max-width: 300px;
  height: 33px;
  color: #686868;
  background-color: transparent;
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  border-bottom: 2px solid #bead8e;
  border-right: none;
}
.intro__form-arrivallbl {
  color: #fff;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 700;
  display: block;
  margin-bottom: 23px;
}
.intro__form-departureinp {
  margin-bottom: 42px;
  width: 100%;
  max-width: 300px;
  height: 33px;
  color: #686868;
  background-color: transparent;
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  border-bottom: 2px solid #bead8e;
  border-right: none;
  display: inline;
  margin-right: 15%;
}
.intro__form-departurelbl {
  color: #fff;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 700;
  display: block;
  margin-bottom: 23px;
}
.intro__form {
  background: #222;
  height: 354px;
  padding: 36px 20px;
}
.intro__info {
  padding-top: 145px;
  background: #333;
  padding: 145px 5.3% 0 5.3%;
}
.intro__info-maintitle {
  font-family: Old Standard TT;
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: -1.2px;
  color: #fff;
  max-width: 314px;
  margin-bottom: 40px;
}
.intro__info-pretitle {
  font-family: Archivo;
  font-size: 0.813rem;
  font-weight: 700;
  letter-spacing: 2.8px;
  color: #fff;
  max-width: 237px;
  margin-bottom: 40px;
}
.intro__info-takebtn {
  background: #bead8e;
  font-size: 0.875rem;
  font-family: Archivo;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2.8px;
  padding: 1.406rem 2.938rem;
  border: none;
  cursor: pointer;
  display: inline;
  margin-bottom: 24px;
  margin-right: 30px;
}
.intro__info-takebtn:hover {
  transition: all 250ms ease-out;
  transform: scale(1.1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.intro__info-takebtn:active {
  transition: all 150ms ease-out;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
.intro__info-learnbtn {
  background: transparent;
  font-size: 0.875rem;
  font-family: Archivo;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2.8px;
  padding: 1.406rem 2.938rem;
  border: none;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.33);
  margin-bottom: 76px;
}
.intro__info-learnbtn:hover {
  transition: all 250ms ease-out;
  transform: scale(1.1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.intro__info-learnbtn:active {
  transition: all 150ms ease-out;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
.intro__form-btn {
  background: #bead8e;
  font-size: 0.875rem;
  font-family: Archivo;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2.8px;
  padding: 1.406rem 2.938rem;
  border: none;
  cursor: pointer;
}
.intro__form-btn:hover {
  transition: all 250ms ease-out;
  transform: scale(1.1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.intro__form-btn:active {
  transition: all 150ms ease-out;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

@media only screen and (min-width: 1000px) {
  .intro__info {
    padding-top: 145px;
    background: #333;
    padding: 145px 19.2% 0 19.2%;
  }
  .intro__info-maintitle {
    color: #fff;
    font-family: Old Standard TT;
    font-size: 7.5rem;
    font-weight: 400;
    letter-spacing: -3.6px;
    max-width: 661px;
    margin-bottom: 32px;
  }
  .intro__form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: end;
    justify-items: start;
    background: #222;
    height: auto;
    padding: 36px 20px;
    text-align: center;
  }
  .intro__form-arrivalinp {
    grid-column: 1;
    grid-row: 2;
    margin-bottom: 0;
    width: 100%;
    max-width: 300px;
    height: 33px;
    color: #686868;
    background-color: transparent;
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    border-bottom: 2px solid #bead8e;
    border-right: none;
    justify-self: end;
    margin-right: 30px;
  }
  .intro__form-arrivallbl {
    color: #fff;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 700;
    display: block;
    margin-bottom: 0;
    grid-column: 1;
    grid-row: 1;
    justify-self: end;
    text-align: start;
    width: 300px;
    margin-right: 30px;
  }
  .intro__form-departureinp {
    grid-column: 2;
    grid-row: 2;
    margin-bottom: 0;
    width: 100%;
    max-width: 300px;
    height: 33px;
    color: #686868;
    background-color: transparent;
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    border-bottom: 2px solid #bead8e;
    border-right: none;
    display: block;
  }
  .intro__form-departurelbl {
    grid-column: 2;
    grid-row: 1;
    color: #fff;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 700;
    display: block;
    margin-bottom: 0;
  }
  .intro__form-btn {
    grid-column: 3;
    grid-row: 1/span 2;
    background: #bead8e;
    font-size: 0.875rem;
    font-family: Archivo;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2.8px;
    padding: 1.406rem 2.938rem;
    border: none;
    cursor: pointer;
  }
  .intro__form-btn:hover {
    transition: all 250ms ease-out;
    transform: scale(1.1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .intro__form-btn:active {
    transition: all 150ms ease-out;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  }
}
.about {
  margin-bottom: 60px;
}
.about__cards {
  margin-top: -85px;
}
.about__cards-cardone {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
}
.about__cards-cardone-img {
  width: 270px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__cards-cardone-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 270px;
  background-image: url("../assets/AboutUs-Card-One-Background.png");
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0px 8px 16px 0px rgba(34, 34, 34, 0.02);
}
.about__cards-cardone-skill-icon {
  margin-top: 54px;
  margin-bottom: 29.5px;
}
.about__cards-cardone-skill-text {
  color: #111;
  text-align: center;
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0 35.2px 38.33px;
}
.about__cards-cardone-skill-title {
  color: #111;
  font-family: Old Standard TT;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: -0.9px;
  margin-bottom: 21px;
}
.about__cards-cardtwo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__cards-cardtwo-img {
  width: 270px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__cards-cardtwo-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #222;
  max-width: 270px;
}
.about__cards-cardtwo-skill-icon {
  margin-top: 54px;
  margin-bottom: 29.5px;
}
.about__cards-cardtwo-skill-text {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0 35.2px 38.33px;
}
.about__cards-cardtwo-skill-title {
  color: #fff;
  font-family: Old Standard TT;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: -0.9px;
  margin-bottom: 21px;
}
.about__intro {
  background: #f9f9f9;
  padding: 38px 20px 175px 20px;
}
.about__intro-bookbtn {
  background: #bead8e;
  font-size: 0.875rem;
  font-family: Archivo;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2.8px;
  padding: 1.406rem 2.938rem;
  border: none;
  cursor: pointer;
}
.about__intro-bookbtn:hover {
  transition: all 250ms ease-out;
  transform: scale(1.1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.about__intro-bookbtn:active {
  transition: all 150ms ease-out;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
.about__intro-content {
  color: #777;
  font-family: Archivo;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 24px;
}
.about__intro-maintitle {
  font-family: Old Standard TT;
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: -1.2px;
  color: #111;
  margin-bottom: 16px;
}
.about__intro-pretitle {
  font-family: Archivo;
  font-size: 0.813rem;
  font-weight: 700;
  letter-spacing: 2.8px;
  color: #777;
  text-transform: uppercase;
  margin-bottom: 32px;
}

@media only screen and (min-width: 1000px) {
  .about {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 150px;
    margin-bottom: 118px;
  }
  .about__intro {
    background-color: #f9f9f9;
    padding: 38px 20px 175px 20px;
    width: 56.45%;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 17%;
  }
  .about__intro-content {
    max-width: 397px;
  }
  .about__intro-maintitle {
    margin-bottom: 18px;
    max-width: 457px;
  }
  .about__intro-bookbtn {
    width: -moz-max-content;
    width: max-content;
  }
  .about__cards {
    margin-top: 0px;
    display: flex;
    margin-right: -109px;
    position: relative;
    gap: 30px;
  }
  .about__cards-cardone {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 0px;
    gap: 30px;
    justify-content: flex-end;
  }
  .about__cards-cardtwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .about__cards-cardone-skill {
    margin-top: -20px;
  }
}
html,
* {
  transition: all 250ms ease-in-out;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.header-bg-rectangle {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .header-bg-rectangle {
    display: block;
    width: 100%;
    height: 100px;
    background-color: #222;
    padding-top: 11px;
    padding-left: 13%;
    color: #FFF;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */