@import "../variables";

.popularlist {
    margin-bottom: 60px;
    &__booknow {
        @include roomprice($theme: #bdbdbd);
        &:hover{
            cursor: pointer;
        }
    }
    &__content {
        color: #777;
        text-align: center;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 6px;
    }
    &__desc {
        text-align: center;
        background-color: #fff;
    }
    &__icons {
        display: flex;
        gap: 16px;
        padding: 12px 24px;
        background-color: #fff;
        margin: -30px auto 28px;
        z-index: 1;
        position: relative;
        max-width: 256px;
    }
    &__inner {
        background-color: #222;
        text-align: center;
        padding: 48px 20px;
    }
    &__photo {
        width: 335px;
        height: 218px;
        margin: 0 auto;
    }
    &__pretitle {
        color: #bdac8d;
        font-family: Archivo;
        font-size: 0.875rem;
        font-weight: 500;
        letter-spacing: 2.8px;
        margin-bottom: 25px;
    }
    &__price {
        @include roomprice;
        margin-right: 19px;
    }
    &__roomwrapper {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 335px;
        background-color: #fff;
        padding-bottom: 28px;
    }
    &__title {
        color: #fff;
        font-family: Old Standard TT;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: -0.8px;
        margin-bottom: 48px;
    }
    &__room-title {
        color: #222;
        font-family: Old Standard TT;
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.72px;
        margin-bottom: 16px;
    }
    &__swiper{
        position: relative;
        max-width: 380px;
        --swiper-navigation-top-offset: 30%;
        --swiper-navigation-sides-offset: 0px;
    }
}
