@import "../variables";

.roomshow {
  text-align: center;

  &__booknow {
    @include roomprice($theme: #bdbdbd);
    &:hover {
      cursor: pointer;
    }
  }
  &__inner {
    display: inline-block;
    max-width: 500px;
  }
  &__content {
    @include cardtext($theme: #777);
    line-height: 24px;
    max-width: 360px;
    margin: 0 auto 8px;
    max-height: 57.14px;
    text-align: center;
  }
  &__icons {
    display: flex;
    gap: 16px;
    padding: 12px 24px;
    background-color: #fff;
    margin: -30px auto 28px;
    z-index: 1;

    position: relative;
    max-width: 256px;
  }
  &__photo {
    width: 335px;
    height: 218px;
    margin: 0 auto;
  }
  &__price {
    @include roomprice;
    margin-right: 19px;
  }
  &__roomwrapper {
    margin-bottom: 52px;
  }
  &__title {
    margin-bottom: 16px;
    color: #222;
    font-family: Old Standard TT;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.72px;
  }
  &__explanation {
    @include h6title($theme: #111);
  }
  &__pagination-cover {
    display: block;
    margin: 0 auto 15px;
  }
  &__desc {
    display: inline-block;
  }
}

@media only screen and (min-width: 1000px) {
  .roomshow {
    &__inner {
      display: flex;
      max-width: 1200px;
    }
    &__roomwrapper {
      display: inline-block;
    }
  }
}
